.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
}


/* Для WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 5px; /* Ширина ползунка */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет заполнения ползунка */
    border-radius: 10px;
}


/* Стили для скроллбара */
.custom-scrollbar {

    height: 300px;
    overflow: auto;

}

/* Стили для ползунка */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* Задайте желаемый радиус границы */
}

/* Дополнительные стили для Firefox */
.custom-scrollbar {
    scrollbar-color: #888 transparent; /* Цвет заполнения ползунка и фона */
    border-radius: 8px; /* Задайте желаемый радиус границы */
}

.card {
    background-color: #facb89;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    margin: 0 15px 5px 15px;
}

.text {
    max-width: 90%;
    display: flex;
}

.imgBeer {
    max-width: 35px;
    margin-right: 25px;
}

.information {
    font-family: Roboto, Arial, sans-serif;
    margin-left: 20px;
    line-height: 20px;
    color: #653535;
    position: relative;
}
.title{
    font-weight: bold;
}


.blockButton  {
    font-size: 19px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 15px;
    position: relative;
}
button, button:focus {
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0.7rem;
    background-image: linear-gradient(rgb(243, 168, 80), rgb(158, 129, 254));
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
    margin-right: 10px;
}

button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
}

.select{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;

}
.select:before{
    content: "✓";
    color: green;
    position: absolute;
    top: 0;
    left: -14px;
    font-size: 16px;
    font-weight: bold;
}

.noSelect{

    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}



.link, .link:focus {
    position: relative;
    bottom: 2px;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0.7rem;
    background-image: linear-gradient(rgb(243, 168, 80), rgb(158, 129, 254));
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
}

.link:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
}















@media (max-width: 768px) {
    .card {
        height: 20.5vh;
    }

    .title {
        margin: 5px;
    }

    .imgBeer {
        margin: 0 5px;
    }
}

@media (max-width: 400px) {
    .card {
        height: 30vh;
    }

}

@media (max-height: 650px) {
    .card {
        height: 30.5vh;
    }
}

@media (max-height: 430px) {
    .card {
        height: 40.5vh;
    }
}

